$get-meme-btn-bg-color: #82E0AA
$get-meme-btn-text-color: white

body
  font-family: Helvetica, Arial, sans-serif

.container
  max-width: 365px
  margin: 0 auto
  padding: 50px 0

.controls
  display: flex

.text-inputs
  margin-right: 10px
  &:last-child
    margin: 0
  input
    margin-bottom: 13px
    padding: 5px
    border-radius: 5px

.range-inputs
  font-size: .8em

.generate-meme
  button
    background-color: $get-meme-btn-bg-color
    color: $get-meme-btn-text-color
    text-transform: uppercase
    margin-top: 7px
    padding: 5px 11px
    border-radius: 4px
    cursor: pointer