body {
  font-family: Helvetica, Arial, sans-serif; }

.container {
  max-width: 365px;
  margin: 0 auto;
  padding: 50px 0; }

.controls {
  display: flex; }

.text-inputs {
  margin-right: 10px; }
  .text-inputs:last-child {
    margin: 0; }
  .text-inputs input {
    margin-bottom: 13px;
    padding: 5px;
    border-radius: 5px; }

.range-inputs {
  font-size: .8em; }

.generate-meme button {
  background-color: #82E0AA;
  color: white;
  text-transform: uppercase;
  margin-top: 7px;
  padding: 5px 11px;
  border-radius: 4px;
  cursor: pointer; }
  .generate-meme button:hover {
    background-color: #59d68e; }

.meme-output {
  margin-top: 25px; }
  .meme-output canvas {
    max-width: 300px; }
